body{
    text-align: center;
}

.container{
    display: inline-block;
    margin-top: 5%;
    border: 1px solid black;
    background-color: black;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    box-shadow: 0px 0px 20px 7px grey;
}

.display{
    background-color: gray;
    color: white;
    font-size: 50px;
    text-align: right;
    padding: 70px 10px 0px 0px;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

.button-row{
    display: flex;
    margin-top: 15px;
}

.btn {
    width: 25%;
    height: 100px;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover{
    opacity: 0.7;
}

.btn-zero{
    width: 75%;
    border-radius: 50px;
}

.number{
    background-color: dimgray;
    color: white;
}

.operation{
    background-color: orange;
    color: white;
}

.function{
    background-color: rgb(211, 211, 211);
    color: black;
}
